@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slider-play {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0% 0;
        mask-position: 0% 0;
    }
}

.slider {
    animation: slider-play 1.4s steps(29) forwards;
    animation-delay: 1s;
}
